body {
  margin: 0%;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 719.8px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
:root {
  --min-color: #10cab7;
  --eee-color: #cfcbcb;
  --e9000000-color: #0000009e;
}
header {
  height: 50px;
  padding-top: 10px;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
}
header .container div {
  position: relative;
}
header .container div i {
  position: absolute;
  right: 20px;
  z-index: 2;
  top: -7px;
}
header .container div i:hover ul {
  display: block;
}
header .container div ul {
  width: 200px;
  background: #eee;
  position: absolute;
  right: -13px;
  top: 40px;
  display: none;
}
header .container div ul::after {
  content: "";
  position: absolute;
  border-color: transparent transparent #eee transparent;
  border-style: solid;
  border-width: 20px;
  top: -40px;
  right: 0;
}
header .container div ul li {
  line-height: 3;
  padding-left: 10px;
}
header .container div ul li:not(:last-child) {
  border-bottom: solid #93c6ff 1px;
}
header .container div i ul li a {
  font-family: auto;
  color: #3f51b5;
}
header .container div i ul li:hover a {
  padding-left: 20px;
  transition: 500ms;
  color: blue;
}
.background {
  background-image: url(../imges/back\ ground.png);
  background-size: cover;
  height: calc(100vh - 50px);
}
.background .container .text {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
  left: 50%;
  top: 50%;
}
.background .container .text h1 {
  width: fit-content;
  margin: 0px auto;
  font-size: 45px;
  color: var(--min-color);
  text-align: center;
}
.background .container .text p {
  max-width: 300px;
  text-align: center;
  font-size: 18px;
  margin: 30px auto;
}
.title .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #eee;
  flex-wrap: wrap;
}
.title .container div {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}
.title .container div i {
  color: var(--min-color);
  margin-bottom: 20px;
}
.title .container div h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.title .container div p {
  max-width: 300px;
  text-align: center;
  line-height: 1.7;
  color: var(--e9000000-color);
}
@media (max-width: 719.8px) {
  .title .container {
    flex-direction: column;
  }
  .title .container div {
    min-width: 100%;
    padding: 35px 0px;
  }
}
@media (min-width: 720px) {
  .title .container div {
    padding: 35px 0px;
  }
}
.services .container .header h2 {
  padding-top: 50px;
  text-align: center;
  font-size: 100px;
  color: var(--eee-color);
}
.services .container .header p {
  text-align: center;
  font-size: 20px;
  margin-top: -30px;
  color: #000000a1;
  padding-bottom: 50px;
}
.services .container .section {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 100px;
}
.services .container .section .text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 30px;
  padding-top: 50px;
}
.services .container .section .text div {
  position: relative;
}
.services .container .section .text h3,
.services .container .section .text p {
  margin-left: 50px;
}
.services .container .section .text h3 {
  margin-bottom: 20px;
}
.services .container .section .text p {
  font-size: 15px;
  line-height: 1.7;
  max-width: 285px;
  color: var(--e9000000-color);
}
.services .container .section .text i {
  position: absolute;
  color: var(--min-color);
}
.services .container .section .img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
.services .container .section .img::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 388px;
  background-color: rgb(23 44 54);
  right: 30px;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}
.services .container .section .img img {
  height: 300px;
  margin-left: 115px;
  width: 240px;
}
@media (min-width: 1200px) {
  .services .container .section .img {
    display: flex;
  }
}
@media (max-width: 1200px) {
  .services .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .services .container .section {
    grid-template-columns: 100%;
  }
  .services .container .section .text p {
    max-width: 390px;
  }
  .services .container .section .text div {
    margin-bottom: 50px;
  }
}
@media (min-width: 220px) and (max-width: 767px) {
  .services .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .services .container .header h2 {
    font-size: 50px;
  }
  .services .container .section .text {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .services .container .section .text i {
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
  }
  .services .container .section .text h3,
  .services .container .section .text p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.Portfolio {
  background-color: #eeeeee;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 50px;
}
.Portfolio .container .header h2 {
  font-size: 100px;
  color: var(--eee-color);
  padding-top: 50px;
}
.Portfolio .container .header p {
  margin-top: -30px;
  font-size: 20px;
  color: var(--e9000000-color);
  padding-bottom: 100px;
}
@media (min-width: 220px) and (max-width: 767px) {
  .Portfolio .container .header h2 {
    font-size: 50px;
  }
  .Portfolio .container .header p {
    margin-top: -20px;
  }
}
.Portfolio .container .imges {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.Portfolio .container .imges div,
.Portfolio .container .imges div img {
  width: 100%;
  background: #fff;
  text-align: start;
}
.Portfolio .container .imges div .text {
  padding-left: 20px;
}
.Portfolio .container .imges div .text p {
  line-height: 1.7;
  max-width: 325px;
  font-size: 17px;
  margin-top: 20px;
  margin-top: 20px;
  color: rgb(0 0 0 / 50%);
}
.about {
  padding-bottom: 100px;
}
.about .container .header {
  padding-bottom: 50px;
}
.about .container .header h2 {
  font-size: 100px;
  text-align: center;
  color: var(--eee-color);
}
.about .container .header p {
  text-align: center;
  margin-top: -30px;
}
.about .container .section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about .container .section .img {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 20px;
}
.about .container .section .img img {
  width: 250px;
  height: 90%;
}
.about .container .section .img .after {
  position: absolute;
  width: 130px;
  height: 80px;
  background-color: var(--min-color);
  left: 260px;
  bottom: 62px;
  z-index: -2;
}
.about .container .section .img::after {
  content: "";
  width: 300px;
  position: absolute;
  width: 100px;
  height: 110%;
  background: #e7e7e7;
  left: 0px;
  z-index: -1;
}
.about .container .section .img::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 90%;
  background: var(--min-color);
  left: 200px;
  top: -25px;
  z-index: -1;
}
.about .container .section .text {
  max-width: 90%;
}
.about .container .section .text .after {
  width: 50%;
  height: 2px;
  background-color: var(--min-color);
  margin-top: 50px;
  margin-bottom: 30px;
}
.about .container .section .text p:first-child {
  font-weight: 700;
  line-height: 2;
}
.about .container .section .text p:last-child {
  opacity: 60%;
  line-height: 2;
}
@media (max-width: 991px) {
  .about .container .section .img::before {
    display: none;
  }
  .about .container .section .img::after {
    display: none;
  }
  .about .container .section .img .after {
    display: none;
  }
  .about .container .section {
    grid-template-columns: repeat(1, 1fr);
  }
  .about .container .section .img {
    justify-content: center;
    margin-bottom: 50px;
  }
  .about .container .section .text,
  .about .container .section .text .after {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.Contact {
  background-color: #f6f6f6;
  padding-bottom: 100px;
}
.Contact .container .text {
  padding-bottom: 100px;
}
.Contact .container .text h2 {
  font-size: 100px;
  text-align: center;
  color: var(--eee-color);
  padding-top: 50px;
}
.Contact .container .text p {
  text-align: center;
  margin-top: -30px;
  font-size: 20px;
  color: #6e6e6e;
}
.Contact .container .tell {
  line-height: 2;
}
.Contact .container .tell .texter p {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: #2c4755;
}
.Contact .container .tell .texter a {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: var(--min-color);
}
.Contact .container .tell .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contact .container .tell .flex i {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .Contact .container .text h2 {
    font-size: 50px;
  }
  .Contact .container .text p {
    margin-top: -15px;
    font-size: 16px;
  }
  .Contact .container .tell .texter p,
  .Contact .container .tell .texter a {
    font-size: 18px;
  }
  .Contact .container .tell .flex p {
    font-size: 15px;
  }
}
footer {
  background: #2c4755;
  padding: 20px;
}
footer .container div {
  text-align: center;
  font-size: 14px;
  color: #fff;
}
footer .container div span {
  font-weight: bold;
  color: var(--min-color);
}
